html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-image: url('../img/tree_bark.png');
}

a{
  text-decoration: none;
  font-weight: bold;
  color: #2A5DB0;
}

a:hover{
  color: #007;
}

.card{
  margin-top: 10px;
}

.cardContent{
  padding: 10px 25px;
}

.biopic{
  float: left;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-top: 2px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.projectLogo{
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px){
  .navLinks{
    display: none;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
